// 项目提供scss全局变量

//左侧菜单的宽度
$base-menu-width: 260px;
// 左侧菜单折叠后的宽度
$base-fold-menu-width:80px;
//左侧菜单的背景颜色
$base-menu-background:#001529;
// 左侧logo高度
$base-menu-logo-height: 50px;
// 左侧logo文字大小
$base-logo-title-fontSize: 20px;

// 顶部导航的高度
$base-tabbar-height:50px;

